rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /blog/{doc} {
      allow read, write: if true;
    }
    match /feedback/{doc} {
      allow read, write: if true;
    }
    match /experience/{doc} {
      allow read, write: if true;
    }
    match /references/{doc} {
      allow read, write: if true;
    }
    match /settings/{doc} {
      allow read, write: if true;
    }
    match /verifications/{doc} {
      allow read, write: if true;
    }
    match /certificates/{doc} {
      allow read, write: if true;
    }
  }
}
